body{
    background-color: #333;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #9a3e3e, #ddcece);
}

.login-box {
  background-color: #cbbfbf;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.login-box input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.login-box input:focus {
  border-color: #007bff;
}

.login-box button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.login-box button:hover {
  background-color: #0056b3;
}
