.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
    border-radius: 6px;
    border: 2px solid rgb(182, 83, 83);
}
.navbar .profile{
    width: 40px;
}
.navbar .logout-button{
    border-radius: 10px;
    font-size: 22px;
    padding: 4px;
    border: 1.4px solid red;
}